<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    form {
        width: 300px;
        border: 1px solid #ccc;
    }
    form > * {
        box-sizing: border-box;
        display: block;
        width: 100%;
        max-width: 100%;
        padding: 10px;
    }
    form > textarea {
        height: 400px;
        min-height: 400px;
    }
    </style>
</head>
<body>
    <form>
        <label>받는 사람 </label>
        <input name="id" readonly value="배진오"/>
        <textarea name="content"></textarea>
        <input type="submit" value="전송">
    </form>
</body>
</html>