<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://static.blex.kr/assets/library/bootstrap.css">
    <link rel="stylesheet" href="https://baejino.com/baealex.css">
    <link href="https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap" rel="stylesheet">
    <link href="assets/css/login.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">Travlan Admin</a>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-3">
                <ul class="list-group">
                    <li class="list-group-item active d-flex justify-content-between align-items-center">
                        회원
                        <span>
                            <a class="text-light" href="admin_list.html">...</a>
                        </span>
                    </li>
                    <li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
                    <li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
                    <li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
                </ul>
            </div>
            <div class="col-md-4 mt-3">
                <ul class="list-group">
                    <li class="list-group-item active d-flex justify-content-between align-items-center">
                        게시글
                        <span>
                            <a class="text-light" href="#">...</a>
                        </span>
                    </li>
                    <li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
                </ul>
            </div>
            <div class="col-md-4 mt-3">
                <ul class="list-group">
                    <li class="list-group-item active d-flex justify-content-between align-items-center">
                        댓글
                        <span>
                            <a class="text-light" href="#">...</a>
                        </span>
                    </li>
                    <li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
                </ul>
            </div>
            <div class="col-md-4 mt-3">
                <ul class="list-group">
                    <li class="list-group-item active d-flex justify-content-between align-items-center">
                        쪽지
                        <span>
                            <a class="text-light" href="#">...</a>
                        </span>
                    </li>
                    <li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
                </ul>
            </div>
            <div class="col-md-4 mt-3">
                <ul class="list-group">
                    <li class="list-group-item active d-flex justify-content-between align-items-center">
                        알림
                        <span>
                            <a class="text-light" href="#">...</a>
                        </span>
                    </li>
                    <li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
                </ul>
            </div>
            <div class="col-md-4 mt-3">
                <ul class="list-group">
                    <li class="list-group-item active d-flex justify-content-between align-items-center">
                        스크랩
                        <span>
                            <a class="text-light" href="#">...</a>
                        </span>
                    </li>
                    <li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
                </ul>
            </div>
            <div class="col-md-4 mt-3">
                <ul class="list-group">
                    <li class="list-group-item active d-flex justify-content-between align-items-center">
                        신고
                        <span>
                            <a class="text-light" href="#">...</a>
                        </span>
                    </li>
                    <li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
                </ul>
            </div>
            <div class="col-md-4 mt-3">
                <ul class="list-group">
                    <li class="list-group-item active d-flex justify-content-between align-items-center">
                        지역
                        <span>
                            <a class="text-light" href="#">...</a>
                        </span>
                    </li>
                    <li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://static.blex.kr/assets/library/jquery.js"></script>
    <script src="https://static.blex.kr/assets/library/bootstrap.js"></script>
</body>

</html>